body {
  background-color: #ffffff;
}
ul {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
ul li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: inline-block;
}
img {
  display: block;
}
a {
  display: block;
  text-decoration: none;
}
h3,
h2,
p {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 900px;
}
.page-header {
  display: block;
  margin: 0;
  padding: 75px 0 75px 0;
  box-sizing: border-box;
}

.navigation-list li {
  display: inline-block;
  margin-right: 107px;
}
.navigation-list li:last-child {
  margin-right: 0;
}
.navigation-list a {
  color: #626262;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
}
.navigation-list {
  text-align: center;
  vertical-align: middle;
}
.navigation-list-item a:hover {
  color: #03a9f4;
}
.page-content {
  display: block;
  margin: 0;
  padding: 25px 0 70px 0;
}
.page-content-list {
  font-size: 0;
}
.page-content-list-item {
  display: inline-block;
  width: 420px;
  margin-right: 60px;
}
.page-content-list-item:nth-child(2n) {
  margin-right: 0;
}
.item-photo {
  width: 100%;
  height: 280px;
  margin-bottom: 28px;
}
.item-subtitle {
  color: #b4ad9e;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 26px;
}
.item-title {
  color: #626262;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 36px;
}
.item-description {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #626262;
  margin-bottom: 130px;
}
.Page-content-button {
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  background-color: #ffffff;
  width: 164px;
  height: 60px;
  cursor: pointer;
  border: 1px solid #626262;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  display: block;
}
